<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6DA21991E0157D200761EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6DA21B21E0157D300761EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6DA21BD1E0157D300761EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
